<aside class="page-sidebar">
<div class="page-logo">
    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
        <img src="/assets/img/logo-app.png" alt="Administradora Anelu" aria-roledescription="logo">
        <span class="page-logo-text mr-1">Administradora Anelu</span>
        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
        <!--i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></!--i-->
    </a>
</div>
<!-- BEGIN PRIMARY NAVIGATION -->
{% include 'misc/sidebar.twig' %}
<!-- END PRIMARY NAVIGATION -->
<!-- NAV FOOTER -->
{#% include 'misc/sidebar.footer.twig' %#}
<!-- END NAV FOOTER -->
</aside>