<div class="p-3">
    <h2 class="mb-0 fs-xl">
        Cambio de Contrase単a
    </h2>
</div>
<div class="card-body">
    
    <form class="needs-validation" novalidate action="{{constant('URL_SISTEMA')}}propietario/modificar/password">
        <input type="hidden" name="modificado" value="1" />
        <div class="form-group">
            <label class="form-label" for="example-password">Contrase単a Actual <span class="text-danger">*</span></label>
            <input 
                type="password" 
                class="form-control" 
                value=""
                password
                required
                pattern="[0-9a-zA-Z]{4,7}"
                minlength="4"
                maxlength="7"
                name="clave_actual"
            />
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label class="form-label" for="example-password">Contrase単a Nueva <span class="text-danger">*</span> <span class="help-block">(entre 4 y  7 caracteres)</span></label>
            <input 
                type="password" 
                class="form-control" 
                value=""
                password
                required
                pattern="[0-9a-zA-Z]{4,7}"
                minlength="4"
                maxlength="7"
                name="clave"
            />
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label class="form-label" for="example-password">Confirma Contrase単a Nueva <span class="text-danger">*</span></label>
            <input 
                type="password" 
                class="form-control" 
                password
                required
                pattern="[0-9a-zA-Z]{4,7}"
                minlength="4"
                maxlength="7"
                name="clave_confirm"
            />
            <div class="invalid-feedback"></div>
        </div>
        
        <button class="btn btn-danger" type="submit" {% if propietario.cedula == 99999999 %} disabled {% endif %} >Actualizar Datos</button>
    </form>

</div>