<div class="demo-v-spacing">
    <div class="alert alert-warning alert-dismissible fade show">
        <div class="d-flex flex-start w-100">
            <div class="mr-2 hidden-md-down">
                <span class="icon-stack icon-stack-lg">
                    <i class="base base-9 icon-stack-3x opacity-100 color-warning-500"></i>
                    <i class="base base-2 icon-stack-2x opacity-100 color-warning-800"></i>
                    <i class="ni ni-shield icon-stack-1x opacity-100 color-white"></i>
                </span>
            </div>
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <span class="h3">Usted ha sido pasado al depatamento Legal</span>
                    <p><strong>{{spaceIzq(session.usuario.nombre)}}</strong>, su deuda de condominio ha
                    sido pasada al Departamento Legal. Póngase en contacto a la brevedad posible a través
                    del: <code><i class="fal fa-envelope"></i>&nbsp;{{constant('CORREO_CONTACTO')}}</code></p>
                </div>
            </div>
        </div>
    </div>
</div>